/.github/ISSUE_TEMPLATE/config.yml              @castrojo
/.github/ISSUE_TEMPLATE/feature_request.yml     @castrojo
/.github/dependabot.yml                         @castrojo
/.github/workflows/build.yml                    @castrojo
/.github/workflows/release-please.yml           @castrojo
/.gitignore                                     @castrojo
/CODE_OF_CONDUCT.md                             @castrojo
/Containerfile                                  @castrojo
/README.md                                      @castrojo
/build-kmod-v4l2loopback.sh                     @castrojo
/build-kmod-xone.sh                             @castrojo
/build-kmod-xpadneo.sh                          @castrojo
/build-prep.sh                                  @castrojo
/build-ublue-os-akmods-addons.sh                @castrojo
/certs/private_key.priv                         @castrojo
/certs/private_key.priv.test                    @castrojo
/certs/public_key.der                           @castrojo
/certs/public_key.der.test                      @castrojo
/cosign.pub                                     @castrojo
/ublue-os-akmods-addons.spec                    @castrojo

/LICENSE                                        @awebeer256
