/.github/ISSUE_TEMPLATE/config.yml              @castrojo
/.github/ISSUE_TEMPLATE/feature_request.yml     @castrojo
/.github/dependabot.yml                         @castrojo
/CODE_OF_CONDUCT.md                             @castrojo
/build-kmod-v4l2loopback.sh                     @castrojo @awebeer256
/build-kmod-xone.sh                             @castrojo @awebeer256
/build-kmod-xpadneo.sh                          @castrojo @awebeer256
/build-prep.sh                                  @castrojo @awebeer256
/build-ublue-os-akmods-addons.sh                @castrojo
/certs/private_key.priv                         @castrojo
/certs/private_key.priv.test                    @castrojo
/certs/public_key.der.test                      @castrojo
/ublue-os-akmods-addons.spec                    @castrojo

/.github/workflows/build.yml                    @castrojo @awebeer256
/.github/workflows/release-please.yml           @castrojo @awebeer256
/.gitignore                                     @castrojo @awebeer256
/Containerfile                                  @castrojo @awebeer256
/README.md                                      @castrojo @awebeer256

/certs/public_key.der                           @awebeer256
/LICENSE                                        @awebeer256
/cosign.pub                                     @awebeer256
